<div id="otherTags">
  <h2>Other tags</h2>
  <table id="tagsTableOther" class="tagsTable borderized">
    <thead>
    <tr>
      <th id="actionTdOther"></th>
      <th>Name</th>
      <th>Posts</th>
    </tr>
    </thead>
    <tbody>
    <% @tags.each do |tag| %>
        <tr>
          <td><%= "<a title=\"Fetch this tag\" onclick=\"fetch(\"#{tag[:n]}\"); return false;\">⌘</a>" %></td>
          <td><%= TumblrApi.tag_to_link(tag[:n]) %></td>
          <td class="r"><%= tag[:c] %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>