body {
    background-color: #F5F5F5;
    font-family: Helvetica, "Helvetica Neue", "Lucida Grande", Verdana, sans-serif;
    font-size: 12px;
    color: #111111;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

h2 {
    padding-left: 5px;
    margin-bottom: 5px;
}

.inputElement {
    padding-left: 10px;
}

.inputElement li {
    margin-bottom: 5px;
    list-style-type: none;
    list-style-position: inside;
}

#messages {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    background-color: #F5F5F5;
    font-weight: bold;
    font-size: 14px;
}

#notice {
    border: 2px solid green;
    padding: 2px;
}

#warning {
    border: 2px solid orange;
    padding: 2px;
}

#error {
    border: 2px solid red;
    padding: 2px;
}

table {
    border: 1px solid #888888;
    border-collapse: collapse;
    margin-left: 5px;
}

tr {
    padding: 0;
    margin: 0;
}

td, th {
    padding: 2px 2px 0;
    margin: 0;
    border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
    background-color: #eee;
}