body {
    background-color: #F5F5F5;
    font-family: Helvetica, "Helvetica Neue", "Lucida Grande", Verdana, sans-serif;
    font-size: 12px;
    color: #111111;
    margin: 0;
    padding: 0 10px;
}

table {
    border: 1px solid #888888;
    border-collapse: collapse;
}

#title {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    width: 100%;
}

h2 {
    margin-bottom: 5px;
}

.inputElement {
    padding-left: 10px;
}

.inputElement li {
    margin-bottom: 5px;
    list-style-type: none;
    list-style-position: inside;
}

#messages {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    background-color: #F5F5F5;
    font-weight: bold;
    font-size: 14px;
}

#notice {
    border: 2px solid green;
    padding: 2px;
}

#warning {
    border: 2px solid orange;
    padding: 2px;
}

#error {
    border: 2px solid red;
    padding: 2px;
}

tr {
    padding: 0;
    margin: 0;
}

td, th {
    padding: 2px 2px 0;
    margin: 0;
    border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
    background-color: #eee;
}

a {
    color: #111111;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.b {
    font-size: 14px;
}

.r {
    text-align: right;
}

#actionTdMain {
    min-width: 50px;
}

#actionTdOther {
    min-width: 50px;
}

a.button {
    border: 1px #ccc solid;
    padding: 2px 5px;
    border-radius: 5px;
}

#addOns > div {
    display: table-cell;
    padding-right: 10px;
}

#actions form {
    display: inline;
}
